<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<h3>Create player</h3>
		<div [hidden]="submitted" style="width: 400px;">
			<form [formGroup]="playerSaveForm" #savePlayer (ngSubmit)="savePlayer(savePlayer)">
				<div class="form-group">
					<label for="id">
						<div style="color: red; float: left">*</div>
						id
					</label>
					<input type="text" class="form-control" formControlName="id" data-toggle="tooltip"
						data-placement="right" title="Enter id player">
				</div>
				<div class="form-group">
					<label for="username">
						<div style="color: red; float: left">*</div>
						Username
					</label>
					<input type="text" class="form-control" formControlName="username" data-toggle="tooltip"
						data-placement="right" title="Enter username">
					<div class="alert alert-danger" *ngIf="(username.touched) && (username.invalid)"
						style="margin-top: 5px;">
						<span *ngIf="username.errors.required">Player Name is required</span>
						<span *ngIf="username.errors.minlength">Minimal length is 3 symbols</span>
					</div>
				</div>
				<div class="form-group">
					<label for="power">
						<div style="color: red; float: left">*</div>
						Power
					</label>
					<input type="text" class="form-control" formControlName="power" data-toggle="tooltip"
						data-placement="right" title="Enter power">
					<div class="alert alert-danger" *ngIf="(power.touched) && (power.invalid)" style="margin-top: 5px;">
						<span *ngIf="power.errors.required">Power is required</span>
						<span *ngIf="power.errors.minlength">Minimal length is 3 symbols</span>
					</div>
				</div>
				<div class="form-group">
					<label for="shield">
						<div style="color: red; float: left">*</div>
						Shield
					</label>
					<input type="text" class="form-control" formControlName="shield" data-toggle="tooltip"
						data-placement="right" title="Enter shield">
					<div class="alert alert-danger" *ngIf="(shield.touched) && (shield.invalid)"
						style="margin-top: 5px;">
						<span *ngIf="shield.errors.required">Shield is required</span>
						<span *ngIf="shield.errors.minlength">Minimal length is 3 symbols</span>
					</div>
				</div>
				<div class="form-group">
					<label for="life">
						<div style="color: red; float: left">*</div>
						Life
					</label>
					<input type="text" class="form-control" formControlName="life" data-toggle="tooltip"
						data-placement="right" title="Enter life">
					<div class="alert alert-danger" *ngIf="(life.touched) && (life.invalid)" style="margin-top: 5px;">
						<span *ngIf="life.errors.required">Player Name is required</span>
						<span *ngIf="life.errors.minlength">Minimal length is 3 symbols</span>
					</div>
				</div>

				<button type="submit" class="btn btn-success"
					[disabled]="playerSaveForm.pristine || playerSaveForm.invalid">Submit
				</button>
			</form>
		</div>
	</div>
	<div class="col-sm-4"></div>
</div>
<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<div [hidden]="!submitted">
			<h4>Player Added SuccessFully!</h4>
			<button (click)="addPlayerForm()" class='btn btn-primary'>Add More players</button>
		</div>
	</div>
	<div class="col-sm-4"></div>
</div>